body{
    background-image: url("../images/fondo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: antiquewhite;
}

.flex_container{
    flex-direction: column;
    justify-content: space-between; 
}

.flex_container_arriba{
    display: flex;
    margin: 0.1rem auto;
    justify-content: flex-end;
}

.flex_container_central{
    display: flexbox;
    margin: 15px 15px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10rem;
    size: 10em;
}

.flex_container_abajo{
    display: flex;
    margin: 0.1rem auto;
    justify-content: space-between;
}

h1{
    color: black;
}

.btn:hover{
    opacity: 10%;
    background: grey;
}

img{
    width: 6rem;
    border-radius: 50%;
    margin: 8px;
}

.btn.color_gray{
    background: gray;
}

.btn{
    margin: 0.3rem;
    border-radius: 0.5rem;
    border: 1px transparent;
    padding: 0.3rem;
    text-transform: uppercase;
    opacity: 75%;   
}

button.btn.btn_color{
    background: red;
}

.btn.footer{
    background: gray;
}