@import "components/variables";
@import "components/mixin";

section{
    background-color: $bg-color;
    border: $border-std;
    width: 100%;
    height: 100vh;

    @include flex-std(row,nowrap,center ,center )

    p{
        color: $font-color;
        @include space-std($margin-std)
    }

    &:hover{
        background: $bg-secondary-color;
        p{
            color: $border-color;
            @include space-std($margin-std)
        }
    }
}


